@media screen and (max-width:576px) {
    .navigation, .nav-content, .nav-bar{
        flex-direction: column;
    }
    .nav-button{
        margin-top: 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .banner-content, .banner-img{
        width: 100%;
    }
}