@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color:  #3C354F;
    --primary-gap: 0.8rem;
    --font-size: 1.5rem;
    --primary-border: 1px solid salmon;
    --primary-padding: 0.6rem;
    --linear-gradient:linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}
section{
    margin-top: 3rem;
}
.primary-btn{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--linear-gradient);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    line-height: normal;
    cursor: pointer;
    }
/* start nav section */
.navigation{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.8rem;
}
.nav-logo{
    display: flex;
    justify-content: center ;
    align-items: center;
    gap:var(--primary-gap);
}   


.logo-title h1{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.g-style{
    background:var(--linear-gradient);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-img img{
    width: 100%;
    height: 100%;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--primary-gap);
    color: var(--primary-color);
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--primary-gap);
    font-size: 1rem;
    font-weight: 500;
}
.nav-button{
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--primary-gap);
    background-color: rgba(11, 2, 35, 0.10);
    padding: var(--primary-padding);
    border-radius: 0.5rem;
}
/* end nav section */
/* start banner section */
.banner-container{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    
    width: 50%;
    background-image: url("../images/Group 14.png"), linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%); 
    background-size: cover;
    background-repeat: no-repeat;
    
}
.banner-img{
   
    width: 50%;
    height: 100%;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-title h3{
    color: #0B0223;
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin: 10px 0px;
}
.banner-title h1{
margin: 10px 0px;
font-size: 6rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-desc{
    color: var(--primary-color);
    font-size: var(--font-size);
    font-weight: 500;
}

.bg-color{
    background: #4EC5F7;
}
.banner-button{
    display: flex;
    gap: 0.8rem;
    justify-content: flex-start;
}


/* end banner section */







